/* Game formatting */
#gameSpace {
    margin: auto;
    padding: 10px 25px;
}

/* Character Image */
.characterspace {
    margin: 40px 10px;
}

.characterImgs {
    z-index: 1;
    height: 150px;
    display: inline-block;
    position: relative;
    border-radius: 25%;
    background-color: black;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.characterImgs:hover:not(.selectedCharacter) {
    /* animation-name: selectCharAnimate;
    animation-duration: 1s; */
    z-index: 2;
    transform: scale(1.25);
}
.selectedCharacter {
    /* animation-name: selectCharAnimate;
    animation-duration: 1s; */
    z-index: 2;
    height: 200px;
}

.battleCharacterImgs {
    z-index: 1;
    height: 150px;
    display: inline-block;
    position: relative;
    border-radius: 25%;
    background-color: black;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.battleCharacterImgs:hover:not(.selectedCharacter) {
    /* animation-name: selectCharAnimate;
    animation-duration: 1s; */
    z-index: 2;
    transform: scale(1.25);
}
.battleSelectedCharacter {
    /* animation-name: selectCharAnimate;
    animation-duration: 1s; */
    z-index: 2;
    height: 125px;
}

.shrinkLeave {
    transform: scale(0);
}
.growAppear {
    transform: scale(1);
}

.blueteam {
    border-radius: 25%;
    background-color: blue;
}
.redteam {
    border-radius: 25%;
    background-color: red;
}

/* Layout */

.enemies {
    padding: 10px 20px;
    margin: auto;
    display: block;
}

#battleSpace {
    margin: 20px 10px;
    padding: 10px;
}

#attack {
    margin: 20px auto;
}
