/* Game formatting */
#gameSpace {
    margin: auto;
    padding: 10px 25px;
}

/* Character Image */
.characterspace {
    margin: 40px 10px;
}

.characterImgs {
    /* z-index: 1; */
    /* height: 150px; */
    display: inline-block;
    position: relative;
    /* border-radius: 25%; */
    background-color: black;
}

.battleCharacterImgs {
    /* height: 150px; */
    display: inline-block;
    position: relative;
    /* border-radius: 25%; */
    background-color: black;
}

.blueteam {
    background-color: blue;
}
.redteam {
    background-color: red;
}

/* Layout */

.enemies {
    padding: 10px 20px;
    margin: auto;
    display: block;
}

#battleSpace {
    margin: 50px 10px;
    padding: 10px;
}

#attack {
    margin: 20px auto;
}

.suchacard {
    margin: 5px auto;
    /* width: 10rem; */
}

.enemybankcols {
    column-count: 3;
}
