/* Customized fundimental CSS overwritten with reset.css */
html {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 24px;
    padding: 15px 15px;
    margin: auto;
}

/* Game formatting */
#gameSpace {
    margin: auto;
    padding: 10px 25px;
}

/* Character Image */
.characterspace {
    width: 900px;
    margin: 40px 10px;
}

.characterImgs {
    z-index: 1;
    height: 200px;
    display: inline-block;
    position: relative;
    border-radius: 25%;
    background-color: black;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.characterImgs:hover:not(.selectedCharacter) {
    /* animation-name: selectCharAnimate;
    animation-duration: 1s; */
    z-index: 2;
    transform: scale(1.25);
}
.selectedCharacter {
    /* animation-name: selectCharAnimate;
    animation-duration: 1s; */
    z-index: 2;
    height: 250px;
}

#blue {
    background-color: blue;
}
#red {
    background-color: red;
}
